html {
  height: 100%;
  width: 100%;
 
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:#D2B48C;
}

header {
  background-color: #DEB887;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}



section {
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

.project {
  margin-bottom: 2em;
}
